.content-container {
    min-height: calc(100vh - 120px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dfefff; 
    padding: 20px;
}

.register-container {
    background: #ffffff; 
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 350px;
}

.register-container h2 {
    margin-bottom: 20px;
    color: #1e3c72; 
    font-weight: bold;
	text-align: center;
}

.register-link {
    cursor: pointer;
    text-decoration: none;
}

.form-control {
    border-radius: 5px;
}

.btn-primary {
    background-color: #1e3c72; 
    border: none;
}

.btn-primary:hover {
    background-color: #163b68;
}

.login-text {
    font-size: 14px;
}

.login-link {
    color: #1e3c72;
    font-weight: bold;
    text-decoration: none;
}

.login-link:hover {
    text-decoration: underline;
}

.text-danger {
    font-size: 12px;
    margin-top: 5px;
}

.password-container {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .toggle-password {
    position: absolute;
    right: 12px; 
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
    color: #1e3c72;
    transition: color 0.3s ease;
  }
  
  .form-control {
    padding-right: 40px; 
    height: 40px; 
    line-height: 40px; 
  }
  
  .toggle-password:hover {
    color: #163b68;
  }