.custom-header {
    background-color: #dfefff;
    padding: 15px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo {
    height: 40px;
    margin-right: 10px;
}

.app-name {
    font-size: 20px;
    font-weight: bold;
    color: #1e3c72; 
}

.header-quote {
    font-size: 16px;
    font-style: italic;
    color: #1e3c72; 
    font-weight: 500;
}
