<app-home-header></app-home-header>
<div class="container">
	<h2>Danh sách bài hát</h2>
	<table>
	  <thead>
		<tr>
		  <th>#</th>
		  <th>Tên bài hát</th>
		  <th>Ca sĩ</th>
		  <th>Album</th>
		  <th>Thể loại</th>
		  <th>Thời gian</th>
		  <th>Nghe</th>
		</tr>
	  </thead>
	  <tbody>
		<tr *ngFor="let song of songs; let i = index">
		  <td>{{ i + 1 }}</td>
		  <td>{{ song.title }}</td>
		  <td>{{ song.artist }}</td>
		  <td>{{ song.album }}</td>
		  <td>{{ song.genre }}</td>
		  <td>{{ song.length }}s</td>
		  <td>
			<button (click)="playSong(song.file_name)">▶</button>
		  </td>
		</tr>
	  </tbody>
	</table>
  
	<audio #audioPlayer controls></audio>
  </div>
  
<app-home-footer></app-home-footer>